*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Consolas, sans-serif;
    font-size: 3vh;
}

.game-area{
    width: 98vw;
    height: 92vh;
    background: skyblue;
    position: relative;
    border-bottom: 2vh solid green;
    margin: 0 auto;
}

.game-start{
    font-weight: bolder;
    position: absolute;
    padding: 5vh 5vw;
    width: 40vw;
    background: greenyellow;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-start:hover{
    cursor: pointer;
}

.game-over{
    font-weight: bolder;
    position: absolute;
    padding: 5vh 5vw;
    width: 40vw;
    background: red;
    z-index: 1;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over:hover{
    cursor: pointer;
}

.statistic-area{
    background: black;
    color: white;
    width: 98vw;
    text-align: center;
    padding: 1vh 0;
    margin: 0 auto;
}

#health{
    color: green;
    padding-right: 10vw;
}

#mana{
    color: deepskyblue;
    padding-right: 10vw;
}

#top-score{
    color: red;
    padding-left: 10vw;
}

.hide{
    display: none;
}

.wizard{
    background-image: url("resources/wizard.png");
    background-size: cover;
    position: absolute;
    width: 82px;
    height: 100px;
    z-index: 99;
}

.wizard-fire{
    background-image: url("resources/wizard-fire.png");
    background-size: cover;
}

.fire-ball{
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("resources/fire-ball.png");
    background-size: cover;
    z-index: 90;
}

.cloud{
    z-index: 0;
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url("resources/cloud.png");
    background-size: cover;
    color: white;
}

.bug{
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("resources/bug.png");
    background-size: cover;
}

.mana-kit{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("resources/manaKit.png");
    background-size: cover;
}

.health-kit{
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url("resources/healthKit.png");
    background-size: cover;
}

.tree{
    position: absolute;
    width: 180px;
    height: 156px;
    background-image: url("resources/tree.png");
    background-size: cover;
}