
    <section>
        <nav class="footer-nav">
            <ul>
                {% for page in site.pages %}
                {% if page.url != '/feed.xml' and page.url != '/' %}
                <li>
                    <a href="{{ page.url }}">
                        <span class="title">{{ page.title }}</span>
                        <span class="date">{{ page.date | date_to_string }}</span>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </section>

    <section class="info">
        <ul>
            <li>Address:</li>
            <li>BookStore Str.</li>
            <li>Email:</li>
            <li>eBookStore@books.com</li>
            <li>Phone:</li>
            <li>+555 879 546 213</li>
        </ul>
    </section>

    <section class="icons">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
        <p>All rights reserved by <a target="_blank" href="https://github.com/valchevgd">&copy;valchevgd</a></p>
    </section>
