<section class="heading">
    {% include navigation.html %}

    <h1>Find Your Favorite Book Here!</h1>
    <h3>Anytime, Anywhere you are!</h3>
    <p>Relax take it easy</p>
    
    {% if page.title == 'Home' %}
        <div class="auth">
            <span>Register <i class="fas fa-arrow-circle-right"></i></span>  <span>Login <i class="fas fa-arrow-circle-right"></i></span>
        </div>
    {%else%}
        <div class="cart">
            <span>Cart</span>
        </div>    
    {% endif %}
       
</section>