<section class="heading">
    {% include navigation.html %}

    <h1>Find Your Favorite Book Here!</h1>
    <h3>Anytime, Anywhere you are!</h3>
    <p>Relax take it easy</p>
    
    {% if page.title == 'Home' %}
        <div class="auth">
            <span id="register">Register <i class="fas fa-arrow-circle-right"></i></span>  <span id="login">Login <i class="fas fa-arrow-circle-right"></i></span>
        </div>
    {%else%}
        <div class="cart">
            <span>Cart <i class="fas fa-shopping-cart"></i></span>
        </div>    
    {% endif %}
</section>

{% include register.html %}

<script>
    document.getElementById('register').addEventListener('click', () => {
       let form = document.getElementsByClassName('register')[0];
       form.style.opacity = "1";
       form.style.pointerEvents = "all";

    if(form.style.opacity == "1"){
        document.getElementsByTagName('cancel')[0].addEventListener('click', () => {
            form.style.opacity = "0";
        })
    }
       
    })
</script>