<nav class="nav">
    <span class="site-title"><a href="../home">eBookStore</a></span>

    <ul>
        {% for page in site.pages %}
        {% if page.url != '/feed.xml' and page.url != '/' %}
        <li>
            <a href="{{ page.url }}">
                <span class="title">{{ page.title }}</span>
                <span class="date">{{ page.date | date_to_string }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page.title == 'Home' or page.title == 'About' %}
        <li>Register
            <ul>
                <li>
                    <form class="form">
                        <label for="reg_email">Email:</label>
                        <input type="email" id="reg_email">
                        <label for="reg_password">Password:</label>
                        <input type="password" id="reg_password">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password">
                        <button class="btn">Register</button>
                    </form>
                </li>
            </ul>
        </li>
        <li>Log In
            <ul>
                <li>
                    <form class="form">
                        <label for="log_email">Email:</label>
                        <input type="email" id="log_email">
                        <label for="log_password">Password:</label>
                        <input type="password" id="log_password">
                        <button class="btn">Log In</button>
                    </form>
                </li>
            </ul>
        </li>
        {% else %}
        <li>
            Cart <i class="fas fa-shopping-cart"></i>
            <ul>
                <li><p>Order One</p></li>
                <li><p>Order Two</p></li>
            </ul>
        </li>
        {% endif %}
    </ul>


</nav>
