

<form class="form register">
    <fieldset>
        <legend><h2>Register</h2></legend>
        <p>
            <label for="name">Name:</label>
            <span>
            <i class="fas fa-user"></i>
            <input type="text" id="name" placeholder="Dario Petrov">
        </span>
        </p>
        <p>
            <label for="email">Email:</label>
            <span>
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" placeholder="dario@email.com">
        </span>
        </p>
        <p>
            <label for="phone">Phone number:</label>
            <span>
            <i class="fas fa-mobile-alt"></i>
            <input type="text" id="phone" placeholder="+359 885 445 445">
        </span>
        </p>
        <p>
            <label for="password">Password
                <small>(minimum 6 characters)</small>
                :</label>
            <span>
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="********">
        </span>
        </p>
        <p>
            <button class="btn cancel">Cancel</button>
            <button class="btn">Register</button>
        </p>
    </fieldset>
</form>