<div class="slideshow-container">
    <div class="my-slide">
        <div><span class="sale">Sale: </span><span id="sale"><a href="#">Book One Price:$12</a></span></div>
    </div>
</div>

<script>
    let slideIndex = 0;
    showSlides();


    function showSlides() {

        let books = ['Book Name: The Name of First Book, Author: The name of Author, Price: $12',
        'Book Name: The Name of Second Book, Author: The name of Author, Price: $10',
        'Book Name: The Name of Third Book, Author: The name of Author, Price: $15'];
        let slide = document.getElementById('sale');

        slide.innerHTML = `<a href="#">${books[slideIndex]}</a>`;

        slideIndex++;
        if (slideIndex >= books.length) {
            slideIndex = 0
        }

        setTimeout(showSlides, 5000);
    }
</script>