.auth{
    position: relative;
}

.form{
    background: #deb887;
    padding: 2rem;
    width: 25%;
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.form input{
    border: none;
    padding: 0.4rem;
    border-radius: 0.3rem;
    margin-bottom: 0.2rem;
    background: white;

}
