.nav {
    display: flex;
    font-size: 20px;
    align-items: center;
    padding: 2rem 0 5rem 0;
}

.nav > ul {
    display: flex;
    margin-left: auto;
}

.nav > ul > ul li {
    display: block;
    margin-right: 0;
}

.nav ul li {
    list-style: none;
    margin-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
}

.nav span.site-title {
    padding: 0.5rem 0 0.5rem 2rem;
    font-size: 1.2em;
}

/*dropdown*/

.nav > ul ul {
    display: block;
    position: absolute;
    top: 100%;
    right: -20%;
    background: #6495ed;
    padding: 1rem 0 2rem 2rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    border-radius: 0.3rem;
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.nav li:hover > ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
    z-index: 10;
}

@media (max-width: 800px) {

    .nav {
        flex-direction: column;
        text-align: center;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 0.5rem;
    }

    .nav span.site-title{
        padding: 0.5rem 0;
    }

    .nav > ul ul{
        right: -100%;
    }
}