.slideshow-container{
    background: #deb887;
    color: white;
    padding: 0.5rem;
}

.sale{
    font-size: 20px;
    color: #dc143c;
    font-weight: bold;
}

#sale {
    animation-name: example;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1; }
}