.img{
    height: 20vh;
    background-image: url("../img/heading.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-width: 1024px) {
    .img{
        height: 15vh;
    }
}

@media (max-width: 800px) {
    .img{
        height: 10vh;
    }
}

@media (max-width: 500px) {
    .img{
        display: none;
    }
}