.heading{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../img/heading.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
}

.heading h1{
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem; 
}

.heading h3{
    color: white;
    font-size: 2rem;
}

.heading p{
    color: white;
    font-size: 2rem;
    padding: 2rem 0;
}

.auth,
.cart{
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.auth span,
.cart span{
    text-shadow: none;
    color: white;
    font-size: 1.8rem;
}

.auth span:hover,
.cart span:hover{
    cursor: pointer;
    color: #deb887;
    text-decoration: underline;
}

/* @media (max-width: 1024px) {
    .img{
        height: 15vh;
    }
}

@media (max-width: 800px) {
    .img{
        height: 10vh;
    }
}

@media (max-width: 500px) {
    .img{
        display: none;
    }
} */