/*for working screen in gitHub pages*/

section.working{
    font-size: 20px;
    max-width: 25vw;
    margin: 5rem auto;
    text-align: center;
    background: blue;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
}
