<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eBookStore | {{page.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
</head>
<body>
<header>
    {% include heading.html %}
    
</header>

<main>
    <section class="slideshow">
        {% include slideshow.html %}
    </section>
    <section class="content">
    {{page.content}}
    </section>
    <section class="sidebar">
        {% include sidebar.html %}
    </section>
</main>

<footer>
    {% include footer.html %}
</footer>
</body>
</html>