footer{
    background: #deb887;
    color: black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
}

footer section{
    width: 30%;
    text-align: center;
    padding: 1rem 0;
}

footer ul li {
    list-style: none;
    color: #111111;
}

.icons i,
.icons a,
.footer-nav span.title{
    color: #111111;
}

footer .footer-nav ul li:not(last-child),
footer .info ul li:nth-child(2),
footer .info ul li:nth-child(4){
    padding-bottom: 0.3rem;
}

footer .icons ul{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}

@media (max-width: 600px) {

    footer section{
        width: 45%;
    }
}